.pop-up__image-title{
   
    
    height: 12px;
    left: 12.5%;
    top: 87%;  
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;   
    color: #FFFFFF;
  }
   
