.profile__info{
    margin-left: -200px;
    max-width: 336px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;  
     
  }
  

  @media screen and (max-width:991px){
    .profile__info{
    max-width: 230px;
    margin-left: 0;
    padding-bottom: 36px;

    }
  }




  @media screen and (max-width:600px){
    .profile__info{
    max-width: 320px;
   

    }
  }


